// svg, pdf用フォント
@font-face {
  font-family: 'Noto Sans Japanese';
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/NotoSansCJKjp-Regular.min.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-weight: bold;
  font-style: normal;
  src: url('../../assets/fonts/NotoSansCJKjp-Bold.min.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-weight: normal;
  font-style: italic;
  src: url('../../assets/fonts/NotoSansCJKjp-Regular.min.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-weight: bold;
  font-style: italic;
  src: url('../../assets/fonts/NotoSansCJKjp-Bold.min.ttf') format('truetype');
}

.rtt-drawer svg {
  font-family: 'Noto Sans Japanese', sans-serif;
}

// rtt_drawer

$stage-kih-color: #fff;
$stage-tat-color: #d9534f;
$stage-hon-color: #5bc0de;
$stage-you-color: #337ab7;
$stage-con-color: #5cb85c;
$stage-latest-color: #7952b3;

.block-stage-kih {
  background-color: $stage-kih-color;
  color: inherit;
  width: 100%;
}

.block-stage-tat {
  background-color: $stage-tat-color;
  color: #fff;
  width: 100%;
}

.block-stage-hon {
  background-color: $stage-hon-color;
  color: #fff;
  width: 100%;
}

.block-stage-you {
  background-color: $stage-you-color;
  color: #fff;
  width: 100%;
}

.block-stage-con {
  background-color: $stage-con-color;
  color: #fff;
  width: 100%;
}

.block-stage-latest {
  background-color: $stage-latest-color;
  color: #fff;
  width: 100%;
}

.float-center {
  position: absolute;
  width: 100%;
  text-align: center;
}

.rtt-drawer-menu {
  form {
    label {
      margin-bottom: 0;
    }

    .radio,
    .checkbox {
      padding-top: 0;
      min-height: 0;
    }

    .radio label,
    .checkbox label {
      width: 100%;
    }

    .form-group {
      margin-bottom: 5px;
    }

    .select-label {
      line-height: 30px;
      vertical-align: bottom;
      text-align: right;
    }
  }
}

.comment {
  display: none;
}
